body{
    margin: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    margin: 0;
    height: 100vh;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}